<div class="p-3 mb-2 bg-light text-dark">

  <h3>
  <%= @friend.first_name %>
  <small class="text-muted"><%= @friend.last_name %></small>
  </h3>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>

</div>

<%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %>
<%= link_to 'Back', friends_path, class: "btn btn-dark" %>
